<head>
  <%= stylesheet_link_tag "review_index" %>
</head>

<body>
  <section>
    <div class="movies">
      <p id="notice"><%= notice %></p>
      <h1><%= @movie.title %></h1>

      <p>
        <strong>Genre:</strong>
        <%= @movie.genre %>
      </p>

      <p>
        <strong>Runtime:</strong>
        <%= @movie.runtime %>
      </p>

        <p>
        <strong>Movie Created By:</strong>
        <%= User.find(@movie.user_id).name %>
      </p>

      <%= image_tag(@movie.thumbnail) %>

      <% if current_user.id == @movie.user_id %>
      <%= link_to 'Edit', edit_movie_path(@movie) %>
      <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <h2>Reviews</h2>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Rating</th>
          <th>Author</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= review.title %></td>
            <td><%= review.content %></td>
            <td><%= review.rating %></td>
            <td><%= User.find(review.user_id).name %></td>
            <%# <td><%= link_to 'Show', movie_reviews_path %></td>
            <% if current_user.id == review.user_id %>
            <td><%= link_to 'Edit', edit_movie_review_path(review.movie, review) %></td>
            <td><%= link_to 'Destroy', movie_review_path(review.movie, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</body>




